body {
    font-size: 28px;
}

/*--------------------- about nav bar ---------------------*/
ul.nav-bar {
    position: -webkit-sticky ; /*Safari*/
    position: sticky;
    top: 0;
    list-style-type: none;
    margin-top: 50px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
li.nav-item {
    float: left;
    font-family: 'Kanit', sans-serif;
}
  
li.nav-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}
  
li.nav-item a:hover {
    background-color: #111;
}
  
.active {
    background-color: #4CAF50;
}

/*--------------------- about header ---------------------*/
h1 {
    text-align: center;
    font-family: 'Chonburi', cursive;
    font-size: 50px;
}

.header{
    text-align: center;
}

li#right-li{
    float:right;
    background-color: rgb(61, 64, 224);
}

/*--------------------- about image table ---------------------*/
div.galleries {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

div.gallery {
    margin: 55px;
    border: 1px solid #ccc;
    width: 300px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }

  p {
    text-align: center;
    font-family: 'Chonburi', cursive;
    font-size: 15px;
  }

/*--------------------- about sign in , sign up ---------------------*/

  form.SignIn ,form.SignUp{
    margin-left: 300px;
    margin-right: 300px;
    padding: 100px;
    text-align: center;
    font-family: 'Kanit', sans-serif;
  }

  form.SignUp{
    margin-left: 300px;
    margin-right: 300px;
    padding: 50px;
    text-align: center;
    font-family: 'Kanit', sans-serif;
  }

  div.form-group{
    text-align: left;
  }

 
